In [51]:
import pandas as pd
from sklearn import preprocessing #convert text into numerical
from sklearn.model_selection import train_test_split #convert text into numerical
from sklearn import neighbors
from sklearn.metrics import confusion_matrix #how many records are correctly classified
from sklearn.metrics import accuracy_score #tells about model accuracy 
from sklearn import svm

In [52]:
import os
os.chdir('D:\Python Programming\Data')

In [53]:
df = pd.read_csv('D:\Python Programming\Data\SV_train.csv')

In [54]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,Male,22.0,1,0,7.2500,3
1,2,1,1,female,38.0,1,0,71.2833,1
2,3,1,3,female,26.0,0,0,7.9250,3
3,4,1,1,female,35.0,1,0,53.1000,3
4,5,0,3,Male,35.0,0,0,8.0500,3
...,...,...,...,...,...,...,...,...,...
884,887,0,2,Male,27.0,0,0,13.0000,3
885,888,1,1,female,19.0,0,0,30.0000,3
886,889,0,3,female,60.0,1,2,23.4500,3
887,890,1,1,Male,26.0,0,0,30.0000,1
888,891,0,3,Male,32.0,0,0,7.7500,2

In [55]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [56]:
df1 = df.drop(['PassengerId'] , axis=1)

In [57]:
df1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    Male  22.0      1      0   7.2500         3
1         1       1  female  38.0      1      0  71.2833         1
2         1       3  female  26.0      0      0   7.9250         3
3         1       1  female  35.0      1      0  53.1000         3
4         0       3    Male  35.0      0      0   8.0500         3

In [58]:
#convert text into numerical for that we use labelencoder
le = preprocessing.LabelEncoder()
le.fit(df['Sex'])

LabelEncoder()

In [59]:
 print(le.classes_)

['Male' 'female']

In [60]:
df1["Sex"] = le.transform(df1["Sex"])

In [61]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         3
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         3
3         1       1    1  35.0      1      0  53.1000         3
4         0       3    0  35.0      0      0   8.0500         3

In [62]:
y = df1['Pclass']
x = df1.drop(['Pclass'] , axis=1)
#Pclass is a dependent variable,rest of all are IDVs

In [63]:
x.head()
#see in table sex column is transformed

   Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    0  22.0      1      0   7.2500         3
1         1    1  38.0      1      0  71.2833         1
2         1    1  26.0      0      0   7.9250         3
3         1    1  35.0      1      0  53.1000         3
4         0    0  35.0      0      0   8.0500         3

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)
#we convert entire dataset into test dataset

In [65]:
x_train.head()

     Survived  Sex   Age  SibSp  Parch     Fare  Embarked
350         0    0  60.0      0      0  35.0000         3
124         1    0  12.0      1      0  11.2417         1
577         0    1  60.0      1      0  14.4583         1
422         0    1  28.0      1      1  14.4000         3
118         0    1   2.0      4      2  31.2750         3

In [66]:
x_test.head()

     Survived  Sex   Age  SibSp  Parch      Fare  Embarked
14          0    1  14.0      0      0    7.8542         3
158         0    0  60.0      8      2   69.5500         3
762         1    1  36.0      1      2  120.0000         3
740         0    0  36.0      1      0   78.8500         3
482         1    1  63.0      0      0    9.5875         3

In [67]:
#Now we hve both train dataset and test dataset, we can use KNN

In [68]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)
#we can classify the recorsds with the help of eucledian_distance

In [69]:
knn.fit(x_train,y_train).score(x_test, y_test)

0.8539325842696629

In [70]:
#85% of records are classified accurately
y_pred = knn.predict(x_test)

In [71]:
confusion_matrix(y_test,y_pred)
#Howe many record sre classify correctly
#how mnay are not clasified

array([[ 60,   6,   4],
       [  7,  27,  15],
       [  3,   4, 141]], dtype=int64)

In [72]:
y = df1['Survived']
x = df1.drop(['Survived'], axis=1)
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         3
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         3
3       1    1  35.0      1      0  53.1000         3
4       3    0  35.0      0      0   8.0500         3

In [73]:
knn = neighbors.KNeighborsClassifier(n_neighbors=8)

In [74]:
knn.fit(x_train, y_train).score(x_test, y_test)

0.850187265917603

In [76]:
y = y = df1['Survived']
x = df1.drop(['Survived'], axis=1)

In [77]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=0)
x.head() #30% test_size and rest training dataset
#we are splitting the records

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    0  22.0      1      0   7.2500         3
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         3
3       1    1  35.0      1      0  53.1000         3
4       3    0  35.0      0      0   8.0500         3

In [78]:
x_test.head()

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
14        3    1  14.0      0      0    7.8542         3
158       3    0  60.0      8      2   69.5500         3
762       1    1  36.0      1      2  120.0000         3
740       1    0  36.0      1      0   78.8500         3
482       3    1  63.0      0      0    9.5875         3

In [79]:
x_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350       1    0  60.0      0      0  35.0000         3
124       3    0  12.0      1      0  11.2417         1
577       3    1  60.0      1      0  14.4583         1
422       3    1  28.0      1      1  14.4000         3
118       3    1   2.0      4      2  31.2750         3

In [80]:
from sklearn import svm
clf = svm.SVC(gamma=.001, C=100)
clf.fit(x_train,y_train)

SVC(C=100, gamma=0.001)

In [81]:
y_pred = clf.predict(x_test)

In [82]:
accuracy_score(y_test,y_pred, normalize=True)

0.7602996254681648

In [83]:
confusion_matrix(y_test,y_pred)

array([[124,  33],
       [ 31,  79]], dtype=int64)

In [84]:
 #we see the diagonal ele , as we can see 124+79 = 203(76%) correctly classify
  #  and remaining 64 are incorrect(24%)
y = df1['Pclass']
x = df1.drop(['Pclass'], axis=1)

In [85]:
x.head()

   Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0         0    0  22.0      1      0   7.2500         3
1         1    1  38.0      1      0  71.2833         1
2         1    1  26.0      0      0   7.9250         3
3         1    1  35.0      1      0  53.1000         3
4         0    0  35.0      0      0   8.0500         3

In [86]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.3, random_state=0)

In [87]:
clf = svm.SVC(gamma=0.001, C=100)
clf.fit(x_train,y_train)

SVC(C=100, gamma=0.001)

In [88]:
y_pred = clf.predict(x_test)

In [89]:
accuracy_score(y_test,y_pred,normalize=True)

0.8651685393258427

In [90]:
confusion_matrix(y_test, y_pred)

array([[ 68,   2,   0],
       [  8,  29,  12],
       [  6,   8, 134]], dtype=int64)

In [ ]:
#seee (68+29+134) - 86% of the record recorded with accuracy 
#Pclass is more accurate than Survived, it have more margin data is more generalized