In [82]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [83]:
import os
os.getcwd()

'D:\\Python Programming\\Data'

In [84]:
os.chdir('D:\Python Programming\Data')

In [85]:
os.getcwd()

'D:\\Python Programming\\Data'

In [86]:
ex1 = pd.read_csv('D:\Python Programming\Data\Regression1.csv')

In [87]:
ex1

,Respondent Number,Attitude_towards_the_city,Duration_of_Residence,Importance_attached_to_Weather
0,1.0,6.0,10.0,3.0
1,2.0,9.0,12.0,11.0
2,3.0,8.0,12.0,4.0
3,4.0,3.0,4.0,1.0
4,NaN,NaN,NaN,NaN
5,6.0,4.0,6.0,1.0
6,7.0,5.0,8.0,7.0
7,8.0,2.0,2.0,4.0
8,9.0,11.0,18.0,8.0
9,10.0,9.0,9.0,10.0
10,11.0,10.0,17.0,8.0
11,12.0,2.0,2.0,5.0

In [88]:
ex1.head()
ex1.drop([4], axis=0, inplace=True)

In [89]:
ex1

,Respondent Number,Attitude_towards_the_city,Duration_of_Residence,Importance_attached_to_Weather
0,1.0,6.0,10.0,3.0
1,2.0,9.0,12.0,11.0
2,3.0,8.0,12.0,4.0
3,4.0,3.0,4.0,1.0
5,6.0,4.0,6.0,1.0
6,7.0,5.0,8.0,7.0
7,8.0,2.0,2.0,4.0
8,9.0,11.0,18.0,8.0
9,10.0,9.0,9.0,10.0
10,11.0,10.0,17.0,8.0
11,12.0,2.0,2.0,5.0

In [90]:
Y = ex1.Attitude_towards_the_city

In [91]:
X = ex1.Duration_of_Residence

In [92]:
X1 = sm.add_constant(X) #y = Beta_not + Beta1(x1) - Calculated value, X1 independent

In [93]:
simple=sm.OLS(Y, X1) #Ordinary least square we have to minimize the square sigma(y-y^)^2

In [94]:
result = simple.fit()

In [95]:
result.summary()

C:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:1477: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=11
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                                OLS Regression Results
=====================================================================================
Dep. Variable:     Attitude_towards_the_city   R-squared:                       0.897
Model:                                   OLS   Adj. R-squared:                  0.885
Method:                        Least Squares   F-statistic:                     78.26
Date:                       Sat, 23 Jul 2022   Prob (F-statistic):           9.83e-06
Time:                               02:29:58   Log-Likelihood:                -15.687
No. Observations:                         11   AIC:                             35.37
Df Residuals:                              9   BIC:                             36.17
Df Model:                                  1
Covariance Type:                   nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                     1.0759      0.677      1.590      0.146      -0.455       2.607
Duration_of_Residence     0.5716      0.065      8.847      0.000       0.425       0.718
==============================================================================
Omnibus:                       15.796   Durbin-Watson:                   2.497
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                9.316
Skew:                           1.883   Prob(JB):                      0.00949
Kurtosis:                       5.480   Cond. No.                         21.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#see we hve r^2 value = 89% how independent(Duration of residence) affecting
#dependent(Attitude) variable , we can go for regression
#y = 1.073 + .5716*(0.00000) duration must be less than .05